<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" href="/css/bootstrapValidator.min.css" th:href="@{/css/bootstrapValidator.min.css}"></link>
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.css" th:href="@{/css/bootstrap-datetimepicker.css}"></link>


    <!--jquery要放在前面-->
    <script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="/js/bootstrapValidator.min.js" th:src="@{/js/bootstrapValidator.min.js}"></script>
    <script src="/js/bootstrap-datetimepicker.js" th:src="@{/js/bootstrap-datetimepicker.js}"></script>
    <script src="/js/bootstrap-datetimepicker.zh-TW.js" th:src="@{/js/bootstrap-datetimepicker.zh-TW.js}"></script>
    <title>index</title>
</head>
<body>


<nav id="myNav" class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img  alt="Brand" th:src="@{/img/arrow_right.png}" width="20" height="20">
            </a>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav" id="mytab">
                <li class="active"><a href="#">客户数量 <span class="badge">15</span> <span class="sr-only">(current)</span></a></li>
                <li><a href="#">首页</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">客户管理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a th:href="@{/customer/list}">客户列表</a></li>
                        <li><a th:href="@{/customer/add}">新增客户</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" th:action="@{/customer/query}">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="customerName">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right" id="mytab2">
                <button type="button" class="btn btn-default navbar-btn">Sign in</button>
                <p class="navbar-text navbar-right">Signed in as <a href="#" class="navbar-link">Mark Otto</a></p>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container" layout:fragment="content">
    <p th:text="#{message.hello}">This text will not be show! </p>
</div>

<script>
    $(function () {
        $("#mytab li").click(function (e) {
//            e.preventDefault();
            $(this).tab("show");
    });

        var orignWidth; //= $("input[type='text']").outerWidth()+'px';
//        console.log(orignWidth);
        var orignHeight; // = $("input[type='text']").outerHeight()+'px';
//        console.log(orignHeight);


        $("input[type='text']").focus(function(){
            orignWidth = $(this).outerWidth()+'px';
            orignHeight = $(this).outerHeight()+'px';
            $(this).animate({"width":orignWidth,"height":"60px"})
        }).blur(function(){
            $(this).animate({"width":orignWidth,"height":orignHeight})
        });

        $('#formAdd').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {/*输入框不同状态，显示图片的样式*/
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields:{
                customerName: {/*键名username和input name值对应*/
                    message: 'The customer is not valid',
                    validators: {
                        notEmpty: {/*非空提示*/
                            message: '用户名不能为空'
                        },
                        stringLength: {/*长度提示*/
                            min: 6,
                            max: 30,
                            message: '用户名长度必须在6到30之间'
                        }
//                        ,
//                        callback: {/*自定义，可以在这里与其他输入项联动校验*/
//                            message: '只能是wm5920',
//                            callback:function(value, validator,$field){
//                                return value==='wm5920';
//                            }
//                        }
                    }
                },

                agreementMoney:{
                    message:'无效的输入',
                    validators:{
                        notEmpty:{
                            message:'金额不能为空'
                        },
                        regexp: {
                            regexp: /^(([1-9]+)|([0-9]+\.[0-9]{1,2}))$/,
                            message: '必须是金额,例如：2000.12。'
                        }

                    }
                }
            }
        });

        $('.form_datetime').datetimepicker({
            format:'yyyy-mm-dd hh:ii',
            language:  'zh-TW',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0
//        showMeridian: 1
        });
        $('.form_date').datetimepicker({
            format:'yyyy-mm-dd',
            language:  'zh-TW',
            weekStart: 1,
            todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            minView: 2,
            forceParse: 0
        });
    })


</script>


</body>
</html>