<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml"
      layout:decorator="index"
>

<!--layout:decorator="layout"-->
<head>
    <meta charset="UTF-8"/>
    <title>List</title>
    <!--在index模板中已经引入-->
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"></link>-->
    <!--jquery要放在前面-->
    <!--<script src="/js/jquery-3.3.1.min.js" th:src="@{/js/jquery-3.3.1.min.js}"></script>-->
    <!--<script src="/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>-->
</head>


<body>

<div layout:fragment="content">
    <!--<div class="container form-group">-->
        <!--<div class="col-sm-2 control-label">-->
            <!--<a href="/customer/add" th:href="@{/customer/add}" class="btn btn-info">add</a>-->
        <!--</div>-->
    <!--</div>-->
    <table class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>filesNo</th>
            <th>customerName</th>
            <th>agreementNum</th>
            <th>agreementMoney</th>
            <th>inRoomNum</th>
            <th>编辑</th>
            <th>删除</th>
        </tr>
        </thead>
        <tbody>
        <!--等同于 <tr  th:each="customer : ${customerPage.Content()}">-->
        <tr  th:each="customer : ${customerPage.getContent()}">
            <!--等同于<th scope="row" th:text="${customer.getCustomerId()}">1</th>-->
            <th scope="row" th:text="${customer.customerId}">1</th>
            <td th:text="${customer.filesNo}">neo</td>
            <td><a th:href="@{/customer/toEdit/{id}/{pageNo}(id=${customer.customerId},pageNo=${pageIndex})}" th:text="${customer.customerName}">detail</a></td>
            <td th:text="${customer.agreementNum}">6</td>
            <td th:text="${customer.agreementMoney}">6</td>
            <td th:text="${customer.inRoomNum}">6</td>
            <td><a th:href="@{/customer/toEdit/{id}/{pageNo}(id=${customer.customerId},pageNo=${pageIndex})}">编辑</a></td>
            <td><a th:href="@{/customer/delete/{id}(id=${customer.customerId})}">删除</a></td>
        </tr>
        </tbody>
    </table>
    <div class="container text-right">
        <ul class="pagination" >
            <li th:class="${pageIndex==1}?'disabled' : ''" th:if="${pageIndex-1 >=1}"><a th:href="@{/customer/list/{pageNo}(pageNo=${pageIndex-1})}">上一页</a></li>
            <li th:if="${pageIndex-3 >=1}" ><a th:href="@{/customer/list/{pageNo}(pageNo=${pageIndex-3})}" th:text="${pageIndex -3}" >1</a></li>
            <li th:if="${pageIndex-2 >=1}" ><a th:href="@{/customer/list/{pageNo}(pageNo=${pageIndex-2})}" th:text="${pageIndex -2}" >1</a></li>
            <li th:if="${pageIndex-1 >=1}" ><a th:href="@{/customer/list/{pageNo}(pageNo=${pageIndex-1})}" th:text="${pageIndex -1}" >1</a></li>
            <li class="active"><a href="#" th:text="${pageIndex}" >1</a></li>
            <li th:if="${pageIndex+1 <=customerPage.getTotalPages()}" ><a th:href="@{/customer/list/{pageNo}(pageNo=${pageIndex+1})}" th:text="${pageIndex +1}" >1</a></li>
            <li th:if="${pageIndex+2 <=customerPage.getTotalPages()}" ><a th:href="@{/customer/list/{pageNo}(pageNo=${pageIndex+2})}" th:text="${pageIndex +2}" >1</a></li>
            <li th:if="${pageIndex+3 <=customerPage.getTotalPages()}" ><a th:href="@{/customer/list/{pageNo}(pageNo=${pageIndex+3})}" th:text="${pageIndex +3}" >1</a></li>

            <li th:class="${pageIndex==customerPage.getTotalPages()}?'disabled' : ''" th:if="${pageIndex+1 <=customerPage.getTotalPages()}" ><a th:href="@{/customer/list/{pageNo}(pageNo=${pageIndex+1})}">下一页</a></li>
        </ul>
    </div>

    <br>
</div>



</body>
</html>